RewriteEngine on
RewriteCond %{HTTP_HOST} ^andrea-et-nicolas.me
RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^(.*)$ /web/index.php
RewriteCond %{HTTP_HOST} ^localhost
RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^(.*)$ /ND_fw/web/index.php